.inventory {
	color: #02fcbd;
	display: flex;
	min-height: 300px;
}

.inventory-container {
	display: flex;
	align-items: flex-start;
}

.inventory-item {
	display: flex;
	justify-content: center;
	
	width: 90px;
	height: 90px;
	margin: 10px;
	border: 1px solid white;
	overflow: hidden;
	cursor: pointer;
}

.item-selected {
	border: 3px solid #02fcbd;
}

.inventory-item-image {
	max-height: 80px;
}

.inventory-controls-container {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.empty-inventory {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 0;
}