.inventory {
	color: #02fcbd;
	display: flex;
	min-height: 300px;
}

.inventory-container {
	display: flex;
	align-items: flex-start;
	width: 100%;
	flex-wrap: wrap;
}

.inventory-item {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 90px;
	height: 90px;
	margin: 10px;
	box-sizing: border-box;
	overflow: hidden;
	cursor: pointer;
}

.item-selected {
	border: 3px solid #02fcbd;
}

.inventory-item-image {
	max-height: 80px;
}

.inventory-controls-container {
	margin: 20px;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-around;
	align-items: center;
}

.item-description {
	margin-bottom: 20px;
}

.control-buttons-container {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.empty-inventory {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 0;
}