.inventory {
	color: #02fcbd;
}

.inventory-container {
	display: flex;
	flex-grow: 1;
}

.inventory-item {
	display: flex;
	justify-content: center;
	
	width: 80px;
	height: 80px;
	margin: 10px;
	border: 1px solid white;
	overflow: hidden;

	cursor: pointer;
}

.inventory-item-image {
	max-height: 80px;
}