.filter-controls-container {

}

.filter-controls {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;

	position: fixed;
	width: 100px;
	height: 65px;
	bottom: 80px;

	margin-left: 250px;
	color: white;
	background-color: rgba(0,0,0,0);
}

.filters-container {
	display: flex;
	justify-content: space-around;
	align-items: center;

	width: 100%;
}

.filter-one, .filter-two, .filter-three {
	cursor: pointer;
	width: 30px;
	height: 30px;
}

.filter-one {
	background-color: #EA1E19;
}

.filter-two {
	background-color: #071ABC;
}

.filter-selected {
	border: 2px solid white;
}