

.filter-controls {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;

	width: 180px;
	bottom: 70px;

	right: 10px;
	color: white;
	background-color: rgba(0,0,0,0);

	-webkit-transition: right 1s;
	transition: right 1s;
}

.filter-controls-hide {
	visibility: hidden;
}

.filters-container {
	display: flex;
	justify-content: space-around;
	align-items: center;

	width: 100%;
}

.filter-one, .filter-two, .filter-three {
	width: 45px;
	height: 45px;
	box-sizing: border-box;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.5;
	pointer-events: none;
}

.show-filter-controls {
	cursor: pointer;
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	opacity: 1;
	pointer-events: auto;
}

.filter-selected {
	/*border: 2px solid #02fcbd;*/
	border: 2px solid white;
	border-radius: 50%;
}