
.grid-controls-container {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	right: 10px;
	top: 0;
	width: 120px;
	height: 200px;

	-webkit-transition: right 1s;
	transition: right 1s;
}

.grid-controls-hide {
	right: -150px;
}


.grid-control-x-group, .grid-control-y-group, .grid-control-z-group {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	font-size: 10px;
}

.rotation-value {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 42px;
	height: 34px;
	box-sizing: border-box;

	color: white;
}

.grid-control {
	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid #02fcbd;
	color: #02fcbd;
	box-sizing: border-box;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.grid-control:hover {
	background-color: white;
}

.grid-controls-frozen {
	border: 1px solid grey;
	color: grey;
	cursor: default;
	pointer-events: none;
	background-color: rgba( 0,0,0,0);
}

.grid-controls-hide {
	visibility: hidden;
}

.grid-controls-frozen:hover {
	background-color: rgba( 0,0,0,0);
}

.value-label {
	width: 30px;
}

.freeze-button {
	width: 80px;
}














