.game-view {
	position: relative;
	display: flex;
	flex-grow: 1;
	overflow: auto;
	font-family: 'Orbitron', sans-serif;
}

.game-view::-webkit-scrollbar { 
    display: none; 
}

.game-view-overlay {
	position: absolute;
	width: 1920px;
	height: 1280px;
	background-color: black;
	z-index: 1;

	-webkit-transition: opacity 6s;
	transition: opacity 6s;

	-webkit-transition-delay: 2.5s;
	transition-delay: 2.5s;
}

.hide {
	opacity: 0;
	pointer-events: none;
}

.layer-1 {
	position: absolute;
	width: 1920px;
	height: 1280px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-icon {
	margin-top: 10px;
	position: fixed;
	width: 50px;
	cursor: pointer;
	opacity: 1;

	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}

.menu-icon-hide {
	opacity: 0;
}

.background-image {
	position: absolute;
}

.object2 {
	position: absolute;
	width: 40px;
	top: 100px;
	left: 1800px;
}

.object3 {
	position: absolute;
	width: 100px;
	top: 600px;
	left: 900px;
}

.object4 {
	position: absolute;
	width: 100px;
	top: 200px;
	left: 200px;

	animation: 1.5s linear pulse;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}



@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}

.interact {
	cursor: pointer;
}

.hidden {
	visibility: hidden;
}
