.game-view {
	position: relative;
	display: flex;
	flex-grow: 1;
	overflow: auto;
	font-family: 'Orbitron', sans-serif;
}

.game-view-overlay {
	position: absolute;
	width: 1920px;
	height: 1280px;
	background-color: black;
	z-index: 1;

	-webkit-transition: opacity 2s;
	transition: opacity 2s;
}

.hide {
	opacity: 0;
	pointer-events: none;
}

.layer-1 {
	position: absolute;
	width: 1920px;
	height: 1280px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-icon {
	margin-top: 10px;
	position: fixed;
	width: 50px;
	cursor: pointer;
}

.background-image {
	position: absolute;
}

.object2 {
	position: absolute;
	width: 40px;
	top: 100px;
	left: 1800px;
}

.object3 {
	position: absolute;
	width: 100px;
	top: 200px;
	left: 1800px;
}

.interact {
	cursor: pointer;
}

.hidden {
	visibility: hidden;
}

.filter-controls {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	position: fixed;
	width: 100px;
	height: 150px;
	top: 10px;
	right: 0;

	color: white;
	background-color: rgba(0,0,0,0);
}

.filter-one, .filter-two, .filter-three {
	cursor: pointer;
	width: 30px;
	height: 30px;
}

.filter-one {
	background-color: #FC0D1B;
}

.filter-two {
	background-color: #35C4BC;
}

.filter-three {
	background-color: #004BE6;
}
.filter-selected {
	border: 2px solid white;
}
