.grid-controls-container {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	right: 0;
	top: 0;
	width: 150px;
	height: 150px;

	border-left: 2px solid white;
	border-bottom: 2px solid white;
	background-color: rgba(100, 100, 100, 0.5);
}

.grid-control-x-group, .grid-control-y-group {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.grid-control {
	display: flex;
	justify-content: center;
	align-items: center;

	border: 2px solid black;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.grid-control:hover {
	background-color: white;
}