canvas {
	-webkit-transition: width, height, 0.5s linear;
    -moz-transition: width, height, 0.5s linear;
    -o-transition: width, height, 0.5s linear;
    transition: width, height, 0.5s linear;


	/*USE TRANSFORM INSTEAD OF SETTING WIDTH AND HEIGHT ATTRIBUTES*/
	/*to avoid pixelation for small W/H values*/
}

.moon-orbit {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 900px;
	height: 900px;
}

.hiddenText1 {
	position: absolute;
	width: 600px;
	border-radius: 300px;
}

.object1 {
	position: absolute;
	-webkit-transition: width, height, 0.5s linear;
    -moz-transition: width, height, 0.5s linear;
    -o-transition: width, height, 0.5s linear;
    transition: width, height, 0.5s linear;
}

.space-station-rotating {
	position: absolute;
}

.item-hidden {
	visibility: hidden;
}
