.console {
	color: green;
}

.console-text {
	overflow: auto;
	white-space: pre-wrap;
	width: 100%;
}

@keyframes blink {
	50% {
		opacity: 0.0;
	}
}

@-webkit-keyframes blink {
	50% {
		opacity: 0.0;
	}
}

.typed-cursor {
	animation: blink 1s step-start 0s infinite;
	-webkit-animation: blink 1s step-start 0s infinite;
}

.text-container {
	width: 100%;
	height: 100%;
	overflow: auto;
	margin-bottom: 10px;
}

.start-button {
	display: flex;
	justify-content: center;
	width: 100px;
	border: 2px solid green;
	cursor: pointer;
}

.start-button:hover {
	background-color: yellow;
}