.footer {
	width: 100%;
	min-height: 60px;
	margin-bottom: -60px;
	box-sizing: border-box;

	display: flex;
	justify-content: space-around;
	font-family: 'Orbitron', sans-serif;

	background-color: black;
	border-top: 2px solid white;

	-webkit-transition: margin-bottom 1s;
	transition: margin-bottom 1s;

	overflow: hidden;
}

.footer-open {
	margin-bottom: 0;
}

.left, .right {
	width: 400px;
	border: 2px solid #02fcbd;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

.test-button {
	width: 100px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	background-color: grey;
	border: 2px solid red;
	color: white;
}

.button {
	width: 100px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	background-color: black;
	border: 2px solid #02fcbd;
	color: #02fcbd;
}

.button-selected {
	background-color: white;
}

.sfx-audio {
	visibility: hidden;
}