.game-view {
	position: relative;
	display: flex;
	flex-grow: 1;
	overflow: auto;
}

.game-view-overlay {
	position: absolute;
	width: 1920px;
	height: 1280px;
	background-color: black;
	z-index: 1;

	-webkit-transition: opacity 2s;
	transition: opacity 2s;
}

.hide {
	opacity: 0;
	pointer-events: none;
}

.layer-1 {
	position: absolute;
	width: 1920px;
	height: 1280px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-icon {
	margin-top: 10px;
	position: fixed;
	width: 50px;
	cursor: pointer;
}

.background-image {
	position: absolute;
}

.moon-orbit {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 900px;
	height: 900px;

	-webkit-animation: spin 45s linear infinite;
	-moz-animation: spin 45s linear infinite;
	-animation: spin 45s linear infinite;

	-webkit-backface-visibility: hidden;
}

.moon {
	-webkit-transform: translate3d(0, 0, 0);
	width: 600px;
}

.selected {
	border: 6px solid yellow;
	border-radius: 50%;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }}

.object1 {
	position: absolute;
	left: 800px;
	width: 120px;
}

.rotating {
	-webkit-animation: spin 3s linear infinite;
	-moz-animation: spin 3s linear infinite;
	-animation: spin 3s linear infinite;
}

.object2 {
	position: absolute;
	width: 40px;
	top: 100px;
	left: 1800px;
}

.object3 {
	position: absolute;
	width: 100px;
	top: 200px;
	left: 1800px;
}

.interact {
	cursor: pointer;
}

.hidden {
	visibility: hidden;
}

.three-scene {
	background-color: green;
}
