.game-view {
	position: relative;
	display: flex;
	flex-grow: 1;
	overflow: auto;
}

.game-view-overlay {
	position: absolute;
	width: 1920px;
	height: 1280px;
	background-color: black;
	z-index: 1;

	-webkit-transition: opacity 2s;
	transition: opacity 2s;
}

.hide {
	opacity: 0;
	pointer-events: none;
}


.menu-icon {
	margin-top: 10px;
	position: fixed;
	width: 50px;
	cursor: pointer;
}

.background-image {
	position: absolute;
}

.moon-orbit {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 900px;
	height: 900px;
	left: 120px;
	top: 20px;

	-webkit-animation: spin 45s linear infinite;
	-moz-animation: spin 45s linear infinite;
	-animation: spin 45s linear infinite;
	
}

.moon {
	width: 650px;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }}

.object1 {
	position: absolute;
	left: 800px;
	width: 120px;
}

.rotating {
	-webkit-animation: spin 3s linear infinite;
	-moz-animation: spin 3s linear infinite;
	-animation: spin 3s linear infinite;
}

.object2 {
	position: absolute;
	width: 40px;
	top: 400px;
	left: 1200px;
}

.object3 {
	position: absolute;
	width: 100px;
	top: 800px;
	left: 1200px;
}

.interact {
	cursor: pointer;
}

.hidden {
	visibility: hidden;
}
