body {
	display: flex;
	margin: 0px;
	width: 100vw;
	height: 100vh;

	background-color: black;
	padding: 0px;
}

.screen {
	width: 100vw;
	height: 100vh;
}

.play-area {
	width: 100vw;
	overflow: auto;
	height: 100vh;
}