html {
	width: 100%;
	height: 100%;
	overflow: auto;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;

	background-color: black;
	margin: 0px;
	padding: 0px;

	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

img {
	-webkit-user-drag: none;
  	-khtml-user-drag: none;
  	-moz-user-drag: none;
  	-o-user-drag: none;
  	user-drag: none;
}

#root {
	width: 100%;
	height: 100%;
}

.screen {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.play-area {
	display: flex;
	width: 100%;
	height: 100%;
	flex-grow: 1;
}
