.menu-container {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 20px;
	width: 400px;
	height: 400px;
	background-color: black;
	color: green;
	border: 2px solid white;

	font-family: 'Orbitron', sans-serif;

	line-height: 25px;
}

.typed-text {
	overflow: auto;
	white-space: pre-wrap;
	width: 100%;
}

@keyframes blink {
	50% {
		opacity: 0.0;
	}
}

@-webkit-keyframes blink {
	50% {
		opacity: 0.0;
	}
}

.typed-cursor {
	animation: blink 1s step-start 0s infinite;
	-webkit-animation: blink 1s step-start 0s infinite;
}






.toggle-container {
	display: flex;
	justify-content: space-between;
}

.toggle, .toggle, .toggle {
	cursor: pointer;
}