body {
	margin: 0px;
}

.header {
	width: 100%;
	height: 100px;

	display: flex;
	justify-content: center;

	background-color: black;
}

.typed-text-container {
	width: 200px;
	height: 50px;
	background-color: white;
	color: black;

	font-family: 'Orbitron', sans-serif;
}

.left-menu {
	display: flex;

	height: 100vh;
	width: 200px;
	background-color: blue;
}